# Environment
.env

# Logs
logs/
*.log

# Build
build/
evolution-go
*.exe
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.*

# Profiling
*.prof

# Debug
__debug_bin

# Hot reload
.air.toml

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp
tmp/
